<div class="popup_container" style="display: none">
	<div class="modal-backdrop fade in" onclick="$('.popup_container').hide()"></div>
	<div class="modal fade in">
		<div class="modal-header">
			<button type="button" class="close" onclick="$('.popup_container').hide()">&times;</button>
			<h3>Forum erstellen</h3>
		</div>
		<div class="modal-body"></div>
	</div>
</div>

<div id="create-form" style="display: none">{{ create|raw }}</div>

{% macro printTree(root, current, modul_self, self ) %}
	<ul>
	{% for item in root.children %}
		<li class="node">
			<div class="btn-group draggable droppable" data-board="{{ item.id }}" >
				<a class="btn handle" href="{{ modul_self }}&Forumedit={{ item.id }}">
					<span class="{%if item.id == current %}icon-folder-open{% else %}icon-folder-close{% endif %}"></span>
					{{item.name}}
				</a>

				<a class="btn dropdown-toggle" data-toggle="dropdown">
					<span class="caret"></span>
				</a>

				<ul class="dropdown-menu">
					<li><a href="#" onclick="return aditBoard( {{ item.id }} );">Forum bearbeiten</a></li>
					<li><a href="#" onclick="return createBoard( {{ item.id }} );">Forum erstellen</a></li>
					<li><a href="{{ modul_self }}&Forumdelete={{ item.id }}" onclick="return confirm('wirklich löschen?');">Forum löschen</a></li>
				</ul>

			</div>
			{% if item.children %}{{ _self.printTree( item, current, modul_self, self  ) }}{% endif %}
		</li>
	{% endfor %}
	</ul>
{% endmacro %}

<noscript><div class="alert alert-error">Bitte Javascript aktivieren!</div></noscript>

<div  class="tree">
	<ul>
		<li class="node">
			<div class="btn-group droppable" data-Forum="0">
				<a class="btn" href="{{ MODUL_SELF }}">
					<span class="{%if current == 0 %}icon-folder-open{% else %}icon-folder-close{% endif %}"></span>
					System Root
				</a>

				<a href="#" title="Neuer Forum" onclick="return createBoard(0);" class="btn">
					<span class="icon-plus"></span>
				</a>
			</div>
			{{ _self.printTree( tree, current, MODUL_SELF, startpage, self  ) }}
		</li>
	</ul>
</div>

<br clear="all">

<script type="text/javascript">
	panelgroups = {{ panelgroups|json_encode|raw }};
	moveurl = '{{ self|raw }}';

	function createBoard( parent ) {
		$('.popup_container .modal-body').html($('#create-form').html());
		$('.popup_container select[name=parent]').val(parent);
		$('.popup_container').show();

		return false;
	}

	function aditBoard( id ) {
		$.get( '{{ MODUL_SELF }}&editform='+id, function( data ) {
			$('.popup_container .modal-body').html(data);
			$('.popup_container .btn[value="Zurück"]').remove();
			$('.popup_container').show();
		});

		return false;
	}

	$( function() {
		$( ".draggable" ).draggable({
			revert: "invalid",
			zIndex: 10,
			handle: ".handle"
		});

		$( ".droppable" ).droppable({
			hoverClass: "tree-hover",
			drop: function( event, ui ) {
				var board = ui.draggable.data('board');
				var target = $( this ).data('board');
				window.location.href = moveurl+'&move='+board+'&parent='+target;
			}
		});

	});


</script>
